body {
    background: greenyellow;
    width: 800px;
    height: 1000px;
    /* Lägg webbsidam i mitten*/
    margin-left: auto;
    margin-right: auto;
    
    /* Ram på body*/
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    }