*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:white;
    height: 2000px;
}

h2{
    text-align: center;
    margin-top: 10px;
    size:20px;
    letter-spacing: 1px;
    color:white;
    text-transform: uppercase;
}
.maps h2{
    color:black;
    margin-top:25px;
    margin-bottom: 10px;
    color: #2D185C;
    float:left;
    margin:10px;
}
.footerbox img{
    width:19px;
    float:left;
    margin-right: 10px;
}
.footerbox {
    float: left;
    margin-left: 3px;
    color:white;
}
p{
    margin-top: 10px;
    letter-spacing: 2px;
    font-size: 10x;
    margin-left: 20px;
    line-height: 22px;
    color: rgb(255, 255, 255);
}
h1{
    font-weight: 100;
    font-size: 34px;
    margin-top: 20px;
    background: #4E6FDE;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
}
h3{
    background:#4E6FDE;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 7px;
    margin:0px;
}

nav{
    height:80px;
    width: 100%;
    background: #2D185C;
}
label.logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;

}
.wrapper{
    width: 90%;
    max-width: 1200px;
    min-height: 1500px;
    margin-left: auto;
    margin-right: auto;

    

}
    .imagesbar{
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        background-image: url(maldives-1993704_1920\ \(1\).jpg);
        width:100%;
        min-width: 300px;
        height: 400px;
        border-radius: 5px;


    }
    .inner_box{
        margin-top: 40px;
        width: 960px;
        height:300px;
        margin-left: auto;
        margin-right: auto;
        
    }

    .box{
        width:48%;
        margin-left: 2%;
        height:300px;
        background-color:#2D185C;
        float:left;
        border-radius: 10px;
        box-shadow: 8px 8px 4px rgb(104, 140, 212);



    }
footer{
    width:100%;
    height:600px;
    background:#2D185C;
    padding-top: 150px;
}
.footerbox{
    width:32%;
    margin-left: 1%;
    height: 300px;
    float:left;



}
.inner_footer{
    width:960px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

}

 
nav ul{
    float: right;
    margin-right: 40px;


}
nav li{
    display: inline-block;
    margin:  8px;
    line-height: 80px;

}
nav a{
    color:rgb(255, 254, 254);
    font-size: 18px;
    text-transform: uppercase;
    border:1px solid transparent;
    padding:7px 10px ;
    border-radius: 3px ;
}


a.active,a:hover{
    background:#9E7EE1;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
  }
  #check{
      display: none;
  }






/*Resor*/
.resmal{
    margin-top: 10px;
    width: 31.5%;
    float:left;
    margin-left: 1%;
  


}
.resmal img{
    max-width: 100%;
    border-radius: 7px;
    margin-left: 1%;

}

/* Resor slut */


/* Mobilanpassning */

@media (max-width: 955px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 800px){
    @media (max-width: 858px){
        .checkbtn{
          display: block;
        }
        ul{
          position: fixed;
          width: 100%;
          height: 100vh;
          background: #2D185C;
          top: 80px;
          left: -100%;
          text-align: center;
          transition: all .5s;
        }
        nav ul li{
          display: block;
          margin: 50px 0;
          line-height: 30px;
        }
        nav ul li a{
          font-size: 20px;
        }
        a:hover,a.active{
          background: none;
          color: #0082e6;
        }
        #check:checked ~ ul{
          left: 0;
        }
      }
    }
  
    



